%h1.general-title-margin= t('.checkout')
%ul.steps.list-inline
  %li.step.active
    %span.step-number 1
    %span.step-text.hidden-xs= t('.address')
  %li.step-divider
  %li.step
    %span.step-number 2
    %span.step-text.hidden-xs= t('.delivery')
  %li.step-divider
  %li.step
    %span.step-number 3
    %span.step-text.hidden-xs= t('.payment')
  %li.step-divider
  %li.step
    %span.step-number 4
    %span.step-text.hidden-xs= t('.confirm')
  %li.step-divider
  %li.step
    %span.step-number 5
    %span.step-text.hidden-xs= t('.complete')
  .hidden-xs.hidden-sm
    .row
      .col-md-5
        %h3.general-subtitle= t('.billing_address')
        %p.general-info-text= t('.all_fields_are_required')
      .col-md-5.col-md-offset-1
        %h3.general-subtitle= t('.shipping_address')
  .row
    .col-md-5.mb-40
      .visible-xs.visible-sm
        %h3.general-subtitle= t('.billing_address')
        %p.general-info-text= t('.all_fields_are_required')
        .form-group{class: "#{"has-error" if adress_has_error?(:first_name)}"}
          %label.control-label.font-weight-light{for: "firstName"}= t('.first_name')
          = text_field_tag "billing[first_name]", "#{address_saved_value("billing", :first_name)}", placeholder: "First Name", id: "firstName", class: "form-control"
          %span.help-block= adress_error_message(:first_name) if @user.errors.any?
        .form-group{class: "#{"has-error" if adress_has_error?(:last_name)}"}
          %label.control-label.font-weight-light{for: "lastName"}= t('.last_name')
          = text_field_tag "billing[last_name]", "#{address_saved_value("billing", :last_name)}", placeholder: "Last Name", id: "lastName", class: "form-control"
          %span.help-block= adress_error_message(:last_name) if @user.errors.any?
        .form-group{class: "#{"has-error" if adress_has_error?(:address)}"}
          %label.control-label.font-weight-light{for: "address"}= t('.address')
          = text_field_tag "billing[address_name]", "#{address_saved_value("billing", :address_name)}", placeholder: "Address", id: "address", class: "form-control"
          %span.help-block= adress_error_message(:address) if @user.errors.any?
        .form-group{class: "#{"has-error" if adress_has_error?(:city)}"}
          %label.control-label.font-weight-light{for: "city"}= t('.city')
          = text_field_tag "billing[city]", "#{address_saved_value("billing", :city)}", id: "city", placeholder: "City", class: "form-control"
          %span.help-block= adress_error_message(:city) if @user.errors.any?
        .form-group{class: "#{"has-error" if adress_has_error?(:zip)}"}
          %label.control-label.font-weight-light{for: "zip"}= t('.zip')
          = text_field_tag "billing[zip]", "#{address_saved_value("billing",  :zip)}", id: "zip", placeholder: "Zip", class: "form-control"
          %span.help-block= adress_error_message(:zip) if @user.errors.any?
        .form-group{class: "#{"has-error" if adress_has_error?(:country)}"}
          %label.control-label.font-weight-light{for: "сountry"}= t('.country')
          = select_tag "billing[country]", options_for_select(["Ukraine", "Russian", "USA"], address_saved_value("billing", :сountry)), id: "country", class: "form-control"
          %span.help-block= adress_error_message(:country) if @user.errors.any?
        .form-group{class: "#{"has-error" if adress_has_error?(:phone)}"}
          %label.control-label.font-weight-light{for: "phone"}= t('.phone')
          = text_field_tag "billing[phone]", "#{address_saved_value("billing", :phone)}", placeholder: "Example +355661234567", id: "phone", class: "form-control"
          %span.help-block= adress_error_message(:phone) if @user.errors.any?
    .col-md-5.col-md-offset-1.mb-60
      .visible-xs.visible-sm
        %h3.general-subtitle#form2 Shipping Address
        .form-group{class: "#{"has-error" if adress_has_error?(:shipping_first_name)}"}
          %label.control-label.font-weight-light{for: "firstName"}= t('.first_name')
          = text_field_tag "shipping[first_name]", "#{address_saved_value("shipping", :first_name)}", placeholder: "First Name", id: "firstName", class: "form-control"
          %span.help-block= adress_error_message(:shipping_first_name) if @user.errors.any?
        .form-group{class: "#{"has-error" if adress_has_error?(:shipping_last_name)}"}
          %label.control-label.font-weight-light{for: "lastName"}= t('.last_name'
          = text_field_tag "shipping[last_name]", "#{address_saved_value("shipping", :last_name)}", placeholder: "Last Name", id: "lastName", class: "form-control"
          %span.help-block= adress_error_message(:shipping_last_name) if @user.errors.any?
        .form-group{class: "#{"has-error" if adress_has_error?(:shipping_address)}"}
          %label.control-label.font-weight-light{for: "address"}= t('.address')
          = text_field_tag "shipping[address_name]", "#{address_saved_value("shipping", :address_name)}", placeholder: "Address", id: "address", class: "form-control"
          %span.help-block= adress_error_message(:shipping_address) if @user.errors.any?
        .form-group{class: "#{"has-error" if adress_has_error?(:shipping_city)}"}
          %label.control-label.font-weight-light{for: "city"}= t('.city')
          = text_field_tag "shipping[city]", "#{address_saved_value("shipping", :city)}", id: "city", placeholder: "City", class: "form-control"
          %span.help-block= adress_error_message(:shipping_city) if @user.errors.any?
        .form-group{class: "#{"has-error" if adress_has_error?(:shipping_zip)}"}
          %label.control-label.font-weight-light{for: "zip"}= t('.zip')
          = text_field_tag "shipping[zip]", "#{address_saved_value("shipping", :zip)}", id: "zip", placeholder: "Zip", class: "form-control"
          %span.help-block= adress_error_message(:shipping_zip) if @user.errors.any?
        .form-group{class: "#{"has-error" if adress_has_error?(:shipping_country)}"}
          %label.control-label.font-weight-light{for: "сountry"}= t('.country')
          = select_tag "shipping[country]", options_for_select(["Ukraine", "Russian", "USA"], address_saved_value("shipping", :сountry)), id: "country", class: "form-control"
          %span.help-block= adress_error_message(:shipping_country) if @user.errors.any?
        .form-group{class: "#{"has-error" if adress_has_error?(:shipping_phone)}"}
          %label.control-label.font-weight-light{for: "phone"}= t('.phone')
          = text_field_tag "shipping[phone]", "#{address_saved_value("shipping", :phone)}", placeholder: "Example +355661234567", id: "phone", class: "form-control"
          %span.help-block= adress_error_message(:shipping_phone) if @user.errors.any?
      .form-group.checkbox
        %label.font-weight-light.pl-0
          %input.checkbox-input{type: "checkbox", hidden: "true", name: 'use_billing', onchange: "document.getElementById('form2').style.display = this.checked ? 'none' : 'block'"}
          %span.checkbox-icon
            %i.fa.fa-check
          %span.checkbox-textt= t('.use_billing_adress')
  .row
    .col-md-12
      .general-text-align.mb-60
        %p.in-gold-500.font-18= t('.order_summary')
        %table.general-summary-table
          %tr
            %td
              %p.font-16= t('.item_total')
            %td
              %p.font-16= number_to_currency(@cart.total_price)
          %tr
            %td
              %p.font-16= t('.order_total')
            %td
              %p.font-16= number_to_currency(@cart.total_price - @cart.total_cupon)
        = submit_tag "Save and Continue", method: :put, class: "btn btn-default center-block mb-20"
  

