<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Order number</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Address</th>
      <th>City</th>
      <th>Zip</th>
      <th>Country</th>
      <th>Phone</th>
      <th>Card number</th>
      <th>Name on card</th>
      <th>Mm yy</th>
      <th>Cvv</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_number %></td>
        <td><%= order.first_name %></td>
        <td><%= order.last_name %></td>
        <td><%= order.address %></td>
        <td><%= order.city %></td>
        <td><%= order.zip %></td>
        <td><%= order.country %></td>
        <td><%= order.phone %></td>
        <td><%= order.card_number %></td>
        <td><%= order.name_on_card %></td>
        <td><%= order.mm_yy %></td>
        <td><%= order.cvv %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
