<p id="notice"><%= notice %></p>

<p>
  <strong>Order number:</strong>
  <%= @order.order_number %>
</p>

<p>
  <strong>First name:</strong>
  <%= @order.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @order.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @order.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @order.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @order.card_number %>
</p>

<p>
  <strong>Name on card:</strong>
  <%= @order.name_on_card %>
</p>

<p>
  <strong>Mm yy:</strong>
  <%= @order.mm_yy %>
</p>

<p>
  <strong>Cvv:</strong>
  <%= @order.cvv %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
