%h1.general-title-margin Cart
.hidden-xs
  %table.table.table-hover
    %tr.no-hover
      %th.col-pic.pl-0
        %span.in-grey-600 Product
      %th.col-title
      %th.col-price
        %span.in-grey-600 Price
      %th.col-quantity
        %span.in-grey-600 Quantity
      %th.col-total
        %span.in-grey-600 SubTotal
      %th.col-close
    - @cart.line_items.each do |item|
      %tr
        %td
          .general-img-wrap-table
            %img.cart-img-shadow.pull-left.width-full{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
        %td
          %p.general-title= item.product.title
        %td
          %span.font-16.in-gold-500= item.product.price
        %td
          .input-group
            %a.input-link{href: "#"}
              %i.fa.fa-minus.line-height-40
            %input.form-control.quantity-input{:type => "text", :value => item.quantity}
            %a.input-link{href: "#"}
              %i.fa.fa-plus.line-height-40
        %td
          %span.font-16.in-gold-500= number_to_currency(item.total_price)
        %td
          %button.close.general-cart-close{type: "button", 'aria-label': "Close"}
            %span{'aria-hidden': "true"} &times;
.general-order-wrap
  .row
    .col-sm-4
      .input-group.general-input-group
        %label.font-weight-light Enter Your Coupon Code
        %input.form-control.mb-30{type: "text", placeholder: "Enter Your Coupon Code "}
        %div
          %button.btn.btn-primary.mr-5.mb-15.visible-xs-inline-block Apply Coupon
          %button.btn.btn-primary.mb-15.res-block Update cart
    .col-sm-8
      .res-mr-200.text-center.general-text-right
        %p.in-gold-500.font-18 Order Summary
        %table.general-summary-table.general-summary-table-right.general-text-right
          %tr
            %td
              %p.font-16 Subtotal:
            %td
              %p.font-16= number_to_currency(@cart.total_price)
          %tr
            %td
              %p.font-16 Coupon:
            %td
              %p.font-16 €0.00
          %tr
            %td
              %strong.font-18 Order Total:
            %td
              %strong.font-18= number_to_currency(@cart.total_price)
        %button.btn.btn-default.mb-20.visible-xs-inline-block Checkout
= button_to "Checkout", new_order_path, method: :get, class: 'btn btn-default mb-20 hidden-xs center-block'